@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  font-family: Roboto;
  letter-spacing: 0;
  max-width: 100vw;
}

body,
button,
.font-size-14 {
  font-size: 14px;
}

body,
.color-gray {
  color: #55565a;
}

.info-bar {
  background-color: #906d4e;
}

.background-blue {
  background-color: #00a0d2;
}

.background-brown {
  background-color: #906d4e;
}

.color-light {
  color: #d2d2d2;
}

.color-brown {
  color: #906d4e;
}

.font-size-12 {
  font-size: 12;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-20 {
  font-size: 20px;
}

.hero-page {
  position: relative;
  background-image: url(../img/pexels-antoni-shkraba-5862282.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-page::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(255, 255, 255, 0.8);

  z-index: 1;
}

.hero-page .container {
  position: relative;
  z-index: 2;
}

.nav-item > a,
.letter-spacing-0 {
  letter-spacing: 0px;
}

.horizantol-ruler {
  border: 1.5px solid #906d4e;
  opacity: 1;
}

.brand-heading h2 {
  font-size: 24px;
  color: #55565a;
}

.plan-heading {
  font-size: 28px;
}

.three-cards:hover {
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
}

.background-logo {
  background-image: url(../img/Group\ 73.svg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  background-position-x: right;
}

.strategy-section {
  background-color: #fffcf9;
}

.brown-outline-button {
  border: 2px solid #906d4e;
}

.background-umbrella {
  background-image: url(../img/Group\ 82.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
}

.strategy-section {
  background-image: url(../img/Group\ 70.svg);
  background-position: bottom left;
  background-repeat: no-repeat;
}

.background-doctor {
  background-image: url(../img/Group\ 698.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.footer {
  z-index: 0;
}

.place {
  width: 85%;
  margin: 0 auto;
}

.place::placeholder {
  color: #fff;
}

/* -- Media Queries -- */

@media (min-width: 991px) {
  .info-bar {
    height: 50px;
  }
  .hero-section {
    height: 100vh;
  }
  .hero-section h1 {
    font-size: 54px;
  }
  .main-footer {
    height: 70px;
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
  (min--moz-device-pixel-ratio: 2),
  (-o-min-device-pixel-ratio: 2/1),
  (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
  .hero-page {
    background-image: url(../img/pexels-antoni-shkraba-5862282@2x.png);
  }
}
