@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

/* Making variables for colors */
:root {
  --color-brown: #906d4e;
  --color-white: #fff;
  --color-blue: #00a0d2;
  --color-black: #55565a;
  --color-grey: #fcfcfc;
}

/* Utility Classes */
body,
.font-roboto {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0;
}

body,
.color-black {
  color: var(--color-black);
}

.color-brown {
  color: var(--color-brown);
}

.display-none {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

.website {
  transition: filter 0.5s ease;
}

.no-blur {
  filter: blur(0px);
  backdrop-filter: blur(0px);
}

.blur {
  filter: blur(5px);
}

/* Font-Size Classes */

.font-9 {
  font-size: 9px;
}

.font-12 {
  font-size: 12px;
}

.font-13 {
  font-size: 13px;
}

.font-14,
body {
  font-size: 14px;
}

.font-18 {
  font-size: 18px;
}

.font-20 {
  font-size: 20px;
}

.font-24 {
  font-size: 24px;
}

.font-28 {
  font-size: 28px;
}

.font-34 {
  font-size: 34px;
}

.font-35 {
  font-size: 35px;
}

.font-54 {
  font-size: 54px;
}

.horizantol-ruler-heading {
  border: 2px solid #906D4E;
  opacity: 1;
}

/* -----------------  Info Bar  ------------------------  */

.info-bar {
  background-color: var(--color-brown);
}

.vr,
.info-bar,
.infobar-btn,
.infobar-text {
  color: var(--color-white);
}

.vr {
  opacity: 1;
}

.infobar-text {
  text-decoration: none;
}

@media (max-width: 955px) {
  .info-button-margin {
    margin-left: 67px;
  }
}

.info-image {
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
}

.infobar-btn {
  padding: 0 20px;
  background-color: var(--color-blue);
  border-radius: 23px;
  height: 35px;
}

.infobar-btn:hover {
  color: var(--color-blue);
  background-color: var(--color-white);
}

.infobar-btn:hover img {
  filter: invert(32%) sepia(93%) saturate(1730%) hue-rotate(162deg) brightness(88%) contrast(93%);
}

/* Hero Page */

.navbar {
  padding-top: 0;
}

.navbar-brand-1 {
  padding-top: 0;
}

.hero-page-padding {
  padding-top: 25px;
}

.hero-page {
  position: relative;
  background-image: url(../img/pexels-antoni-shkraba-5862282@2x.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-page::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-white);
  opacity: 0.81;
  z-index: 1;
}

.hero-container-page {
  z-index: 2;
  position: relative;
}

/* Navbar */
nav {
  position: relative;
}

.navbar-brand {
  padding-left: 67px;
}

.nav-link {
  padding: 0 !important;
  padding-bottom: 5px;
  margin:0;
  padding-left:0;
}



.nav-item {
  /* margin-left: 2.5px; */
  position: relative;
  padding: 0;
  /* margin-right: 10px; */
  margin-right: 28px;

}

.navbar-icon {
  width: 16px;
  height: 16px;
}

.navbar-toggle-heroicon {
  width: 24px;
  height: 24px;
}

.dropdown-menu {
  border: 0;
  margin: 0;
  padding: 0;
  background: transparent;
  position: absolute;
}

.dropdown-item:hover {
  background-color: transparent;
}

.navbar-logo,
.sidebar-logo {
  mix-blend-mode: multiply;
}

.links-container li {
  list-style: none;
}

.links-container li a {
  text-decoration: none;
}

.infobar-btn {
  margin-right: 67px;
}

.last-nav-item {
  margin-right: 59px;
  padding: 0;
}

@media (max-width: 576px) {
  .navbar-brand {
    padding-left: 15px;
  }
}

/* Hero Section */
.hero-heading {
  margin: 0;
}

.h-hero {
  color: var(--color-black);
  font-weight: 900;
}

.h-hero2 {
  color: var(--color-black);
  font-weight: 500;
}

.heading {
  padding-bottom: 1.4rem;
}

.hero-section {
  height: 100vh;
}

.hero-container {
  margin-top: 50px;
  height: 80vh;
}

.heading-ruler {
  margin: 0;
  margin-top: 8px;

  background-color: var(--color-brown);
  height: 3px;
  width: 47%;
  opacity: 1;
}

.hero-text {
  width: 100%;
}

.hero-text p {
  padding-bottom: 1.4rem;
}

.hero-btn {
  color: var(--color-white);
  background-color: var(--color-brown);
  border-radius: 23px;
  padding: 14px 56.5px;
  letter-spacing: 0;
  font-size: 14px;
}

.hero-btn:hover {
  color: var(--color-brown);
  background-color: transparent;
  border: 1px solid var(--color-brown);
}


/* Swiper */

.image-slider-section {
  padding-left:67px;
  padding-right:67px;
  padding-bottom: 80px;

}

.swiper-wrapper,
.swiper {

  height: 25px;
}

.swiper-slide{
  width:fit-content !important;
}

.swiper-wrapper{
  display: flex;
  justify-content:center;
  /* gap:69px; */
}

.special-heading{
  margin:0;
}

.btn--1{
  margin-left:40px;
}
.btn--2{
  margin-right:40px;
}


/* Fee Advice Section */

.fee-advice-section-1 {
  max-width: 95vw;
}

.fee-advice-section {
  background-image: url(../img/Group\ 47.svg);
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 86px;
  position: relative;
}

.fee-advice-section::after {
  content: "";
  background-image: url(../icons/Group\ 50.svg);
  background-repeat: no-repeat;
  max-width: 330px;
  max-height: 534px;
  position: absolute;
  top: 0;
  left: 0;
}

.col-width {
  margin-right: 48px;
}

.fee-heading {
  padding-top: 7px;
}

.fee-advice-btn {
  padding: 14px 97px !important;
}

.row2back {
  position: relative;
  padding-top: 58px;
  padding-left: 270px;
}

.fee-section-heading-text p {
  width: 57%;
}

.fee-advice-card {
  width: 333px;
  height: 300px;
  padding-top: 48px;
  padding-left: 35px;
  padding-right: 33px;
  color: var(--color-black);
  box-shadow: none;
  border: 0;
  transition: all 0.3s ease-in-out;
  margin: 0;
}

.fee-advice-card:hover {
  box-shadow: 0px 0px 12px #0000001a;
  transition: all 0.5s ;
}

.fee-advice-card:hover::after {
  content: "";
  border-radius: 5px;
  width: 128px;
  height: 4px;
  opacity: 1;
  background-color: var(--color-brown);
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ;

}

.hover-link,
.hover-link2,
.hover-link3 {
  text-decoration: none;
  border-bottom: 0.5px solid var(--color-brown);
  padding-bottom: 0.5px;
  font-weight: 500;
}

.hover-link2 span,
.hover-link3 span,
.hover-link span {
  padding-left: 10px;
}

.fee-advice-text-start {
  margin-bottom: 44px;
}

.hover-link2,
.hover-link,
.hover-link3 {
  position: absolute;
  bottom: 15px;
  left: 120px;
}

/* Free Service Section */

.free-service-section {
  background-color: var(--color-grey);
  padding-top: 80px;
}

.free-service-text-section {
  margin-bottom: 60px;
}

.free-service-text-section hr {
  width: 10%;
  margin: 0 auto;
}

.free-card-2 {
  background: url(../icons/Group\ 60.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 193px 175px;
}

.gap-7pixel {
  margin: 0;
  padding-bottom: 7px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  letter-spacing: 0px;
  color: #55565a;
  opacity: 1;
}

.free-card-1 {
  background-image: url(../img/Group\ 73.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.free-card {
  box-sizing: border-box;
  max-width: 467px;
  min-height: 249px;
  transition: all 0.3s;
  background-color: var(--color-brown);
  color: var(--color-white);
}

.free-fluid {
  max-width: 100vw;
  overflow-x: hidden;
  margin-left: 0;
  margin-right: 0;
}

@media(max-width:534px) {
  .free-card {
    box-sizing: border-box;
    max-width: 80%;

  }

  .row2back {
    display: none;
  }

  .special-heading{
    margin-top: 50px;
  }


}



.free-card:hover {
  background-color: var(--color-white);
  color: var(--color-brown);
  box-shadow: 6px 6px 10px rgb(0, 0, 0, 0.2);
}

.free-card:hover #Group_59,
.free-card:hover #Group_60 {
  stroke: #fff;
  fill: #fff;
}

.free-card:hover .color-white-hover {
  color: var(--color-brown);
}

.margin-bottom-0 {
  margin-bottom: 80px;
}

/* Promise Section */

.promise-section {
  background-color: var(--color-white);
  padding-left:20px;
}

.promise-card-width {
  width: 504px;
  padding: 0;
}

.promise-card-real-row {
  width: 100%;

  display: flex;
  justify-content: center;
}

.promise-card {
  box-shadow: none;
  transition: all 0.3s;
}

.promise-card-icon {
  display: flex;
  justify-content: left;
  align-items: center;
}

.promise-card-icon h5 {
  padding-left: 10px;
}

.promise-cards-row {
  padding-bottom: 70px;
}

.promise-card {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
}

.padding-35 {
  padding: 35px;
  text-align: left;
}

/* strategy section */

.strategy-btn-1 {
  padding: 14px 60px;
}

.strategy-btn-2 {
  padding: 14px 47px;
}

.strategy-btn-3 {
  padding: 14px 96px;
}

.strategy-btn-4 {
  padding: 14px 73px;
}

.strategy-btn-5 {
  padding: 14px 56px;
}



.strategy-section {
  background-image: url(../img/Group\ 70.svg);
  background-color: #fffcf9;
  background-repeat: no-repeat;
  background-position: bottom left;
}

.padding-left-right {
  padding-left: 125px;
  padding-right: 124px;
}

.strategy-button {
  background-color: transparent;
  border-radius: 23px;
  border: 1px solid var(--color-brown);
  color: var(--color-brown);
  font-size: 14px;
}

.strategy-card-1 {
  background-image: url(../img/Group\ 82.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

/* @media (min-width: 1200px) {

  .strategy-card-plus-1,
  .strategy-card-plus-3 {
    margin-right: 35px;
  }

  .strategy-card-plus-2,
  .strategy-card-plus-4 {
    margin-left: 35px;
  }
} */

.strategy-button:hover {
  background-color: var(--color-brown);
  color: var(--color-white);
}

.strategy-card {
  max-width: 467px;
  min-height: 234px;
  box-sizing: border-box;
  background-color: var(--color-brown);
  color: var(--color-white);
  border-radius: 8px;
  box-shadow: none;

  padding-top: 40px;
  padding-left: 35px;
  padding-bottom: 40px;
  padding-right: 40px;
  /* margin-top: 50px; */
  transition: all 0.3s;
}

.strategy-card:hover {
  box-shadow: 0px 0px 12px #0000000d;
  background-color: var(--color-white);
  color: var(--color-brown);
}

.strategy-card div img {
  padding-bottom: 25px;
}

.strategy-card-plus-2 {
  background-image: url(../icons/Group\ 75.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 169px 176px;
}

.strategy-card-plus-3 {
  background-image: url(../icons/Group\ 76.svg);
  background-repeat: no-repeat;
  background-size: 169px 176px;

  background-position: bottom right;
}

.strategy-card-plus-4 {
  background-image: url(../icons/Group\ 81.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 169px 176px;
}

.height-width {
  margin-top: 50px;
}

.bg-image-promise {
  background-image: url(../img/Group\ 72.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.strategy-section-padding-row {
  /* width:100vw; */
  display: flex;
  justify-content: center;
  gap:70px;
}

/* Investing Section */

.investing-section {
  background-color: var(--color-white);
}

.investing-row {
  padding: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 130px;
}

.investing-text {
  padding-left: 155px;
  padding-top: 50px;
}

@media(max-width:1200px) {
  .investing-text {
    padding-left: 67px;
  }
}

@media(max-width:992px) {
  .investing-text {
    width: 73%;
    text-align: center;
  }

  .investing-image {
    width: 84%;
    padding-left: 170px;
  }
}

.investing-image {
  display: flex;
  justify-content: center;
  align-items: center;
}



.investing-card {
  box-sizing: border-box;
  width: 247px;
  height: 247px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  box-shadow: none;
  transition: all 0.3s;
  margin: 0 auto;
}

.investing-card:hover {
  box-shadow: 0px 0px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
}

.investing-card h4 {
  padding-top: 20px;
}


@media(max-width:1095px) {
  .investing-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
}

@media (max-width: 991px) {
  .investing-row {
    padding-left: 200px;
    display: flex;
    justify-content: flex-start;
    margin: 0 60px;


    /* align-self: center; */
  }
}

@media(max-width:752px) {
  .investing-row {
    padding-left: 0;
    margin: 0 0;
  }
}

@media(max-width:625px) {
  .investing-row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* Special Section */
.special-section {
  background-color: var(--color-grey);
}

.special-text {
  padding-left: 139px;
  padding-right: 139px;
  text-align: center;
}

.special-section p {
  padding-top: 25px;
  margin-bottom: 0;
}

/* Special Section */

.special-card {
  box-sizing: border-box;
  width: 467px;
  height: 249px;
  color: var(--color-white);
  background-color: var(--color-brown);
  margin-top: 50px;
  padding-top: 20px;
  padding-left: 35px;
  padding-bottom: 39px;
  padding-right: 42px;
  box-shadow: none;
  transition: all 0.3s;
}

.special-card:hover {
  background-color: var(--color-white);
  color: var(--color-brown);
  box-shadow: 0px 0px 12px #0000001a;
  border-radius: 8px;
}

.special-card-1 {
  background-image: url(../img/Group\ 698.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.special-card-plus-2 {
  background-image: url(../icons/Group\ 699.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 200px 200px;
}

.special-card h4 {
  padding-top: 19px;
}

.special-row {
  padding-left: 191px;
  padding-right: 191px;
}

.special-col {
  box-sizing: border-box;
  width: 467px;
  height: 249px;
}

.special-col-1 {
  margin: 0;
  margin-right: 25px;
  padding: 0;
}

.special-col-2 {
  margin: 0;
  margin-left: 25px;
  padding: 0;
}





.form-control-plus {
  margin-top: 25px;
  margin-bottom: 15px;
  height: 45px;
  background-image: url(../img/Icon\ ionic-ios-send.svg);
  background-repeat: no-repeat;

  background-position: center right;
}

.form-control-plus::placeholder {
  color: #fff;
  font-size: 14px;
  padding-left: 20px;
}

.form-check-plus {
  margin-left: 5px;
  margin-top: 2px;
  width: 13px;
  height: 13px;
}

.footer-btn {
  background-color: #00a0d2;
  border-radius: 23px;
  color: #fff;
  font-size: 14px;
  height: 45px;
  padding: 14px 75px;
  margin-bottom: 20px;
  text-align:center;
}

.footer-btn:hover {
  background-color: var(--color-white);
  color: var(--color-blue);
}


.container-fluid {
  padding: 0 !important;
}

/* Break-Points :  */

.hr-common {
  width: 15%;
}

/* Update Card  */

.update-card {
  box-sizing: border-box;
  width: 590px;
  height: 185px;
  box-shadow: none;
  border-radius: 8px;
  transition: all 0.3s;
}

.update-card:hover {
  box-shadow: 0px 3px 6px #00000029;
}

.update-card-head {
  border-start-start-radius: 8px;
  border-end-start-radius: 8px;
  color: var(--color-white);
  background-color: var(--color-brown);
  width: 125px;
  height: 185px;
  padding-top: 39.5px;
  padding-left: 18px;
  padding-bottom: 55px;
  padding-right: 15px;
}

.update-col {
  margin-top: 50px;
  width: 590px;
  height: 185px;
}

.update-col-plus {
  margin-top: 35px;
}

.update-card-body {
  padding-left: 19px;
  padding-bottom: 25px;
  padding-right: 29px;
  padding-top: 25px;
}

.update-col-1 {
  margin-right: 17.5px;
}

.update-col-2 {
  margin-left: 17.5px;
}

/* Registration Cards */

.registration-row {
  padding-left: 67px;
  padding-right: 67px;
}

.registration-card {
  box-sizing: border-box;
  width: 280px;
  height: 159px;
  box-shadow: none;
  transition: all 0.3s;
  border-radius: 8px;
  box-shadow: 0px 3px 6px #00000029;
}

.registration-col {
  box-sizing: border-box;
  width: 280px;
  height: 159px;
}

@media(max-width: 1308.5px) {
  .registration-card-4 {
    margin-top: 50px;
    padding: 0;
  }
}

@media(max-width:1014.5px) {
  .registration-card-3 {
    margin-top: 25px;
    padding: 0;
  }
}

@media(max-width:400px) {
  .update-card-body h3 {
    padding-bottom: 100px;
  }
}

.card-header {
  height: 25px;
  color: #d2d2d2;
  font-size: 12px;
  border-bottom: 1px solid #dedede;
}

.card-body {
  box-sizing: border-box;
  height: 88px;
}

.card-header,
.yield-card {
  background-color: var(--color-white);
}

.card-header,
.card-body,
.card-footer {
  padding-left: 25px;
  padding-right: 41px;
}

.card-footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 45px;
  background-color: var(--color-brown);
  color: var(--color-white);
  font-size: 14px;
}

.registration-margin {
  margin-right: 36px;
}

.images-row {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section-img-1 {
  margin-right: 136px;
}

.section-img-2 {
  margin-left: 136px;
}


/* Footer */

.main-footer {
  margin: 0;
  max-width: 100vw;
  background-color: #906D4F;
  color: var(--color-white);
  min-height: 369px;
  overflow-x: hidden;
}

.footer-col{
  margin-top: 50px;
}

.footer-col-3{
  max-width:410px;
  margin-left:50px;
}

.footer-row {
  padding-left: 67px;
  /* padding-top: 50px; */
  padding-right: 102px;
  margin-bottom:30px;
}

.footer-anchor-1 {
  padding-bottom: 20px;
}

.footer-anchor-2 {
  padding-bottom: 25px;
}

.footer-link {
  text-decoration: none;
  color: var(--color-white);
  display: block;
  font-size: 14px;
}

.footer-image-section {
  display: flex;
  gap: 25.87px;
}

.footer-image-section img {
  cursor: pointer;
}

.footer-list {
  padding: 0;
  margin-bottom: 25px;
}

.footer-list li {
  list-style: none;
}

.footer-list li a {
  text-transform: uppercase;
  letter-spacing: 0;
  font-size:14px;
  font-family: "Roboto";
  line-height: 18.5px;
}

.footer-list li a:hover {
  color: var(--color-blue);
}

.footer-input {
  border: 1px solid #FFFFFF;
  border-radius: 25px;
  opacity: 1;
  background-color: var(--color-brown);
  color: #fff;
  margin-bottom: 15px;
  background-image: url(../img/Icon\ ionic-ios-send.svg);
  background-repeat: no-repeat;
  background-position-x: 94%;
  background-position-y: center;
}

.footer-input::placeholder {
  text-indent:12px;
  font-family: 'Helvetica Neue', sans-serif;
  color: #fff;
  font-weight:300;
  font-size: 14px;
}

.footer-input:focus{
  background-color: transparent;
  color: #fff;
  border: 2px solid var(--color-brown);
  /* outline:none; */
}

.hero-page{
  max-width:100vw;
}


.footer-input-partition {
  display: flex;
  gap: 8px;
  margin-bottom: 25px;
}

.footer-middle{
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-bottom: 15.74px;
}

.footer-middle a{
  text-decoration: none;
  text-transform: uppercase;
  color:#D2D2D2;
  font-size:13px;
}

footer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:4.74px;
}

/* 1200px, 992px, 768px, 576px, 400px */

/* Media Queries */

@media (max-width: 767px) {
  .section-img-1 {
    margin-right: 0px;
    margin-top: 30px;
  }

  .section-img-2 {
    margin-left: 0;
    margin-top: 50px;
  }
}

@media (max-width: 1362px) {
  .registration-row {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1243.5px) {
  .last-rg-col {
    margin-top: 30px;
    padding: 0;
  }
}

@media (max-width: 963.5px) {
  .last-2nd-rg-col {
    margin-top: 30px;
    padding: 0;
  }
}

@media (max-width: 671px) {
  .last-3rd-rg-col {
    margin-top: 30px;
  }
}

@media (max-width: 1215px) {
  .update-col-1 {
    margin-right: 0;
  }

  .update-col-2 {
    margin-left: 0;
  }

  .update-col {
    margin-top: 35px;
  }
}

@media (max-width: 992px) {
  .special-col-1 {
    padding: 0;
    margin-right: 0;
  }

  .special-col-2 {
    margin-left: 0;
    padding: 0;
  }

  .special-row {
    padding: 0;
    margin: 0;
  }

  .special-card {
    width: 400px;
    margin: 0;
    margin-top: 50px;
  }

  .special-col {
    width: 400px;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .margin-bottom-0 {
    margin-bottom: 20px;
  }
}

@media (max-width: 690px) {

  .update-col,
  .update-card {
    width: 98%;
    height: auto;
  }

  .update-col {
    padding-left: 20px;
    padding-right: 20px;
  }

  .update-card-head,
  .update-card-body {
    height: auto;
  }

  .update-card-body p {
    padding-top: 20px;
    margin-top: 20px;
  }
}

@media (min-width: 992px) and (max-width: 1366px) {
  .special-col-1 {
    margin: 0;
    margin-right: 10px;
    padding: 0;
  }

  .special-col-2 {
    margin: 0;
    margin-left: 10px;
    padding: 0;
  }

  .special-row {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 1333px) {
  .investing-row {
    padding: 0 30px;
  }
}

@media (min-width: 1364px) {
  /* .strategy-section-padding-row {
    padding-left: 180px;
    padding-right: 180px;
  } */

  /* .height-width-1 {
    margin-right: 40px;
  }

  .height-width-2 {
    margin-left: 40px;
  } */
}


@media (min-width: 1032px) {
  .promise-card-1 {
    margin-right: 20px;
  }

  .promise-card-2 {
    margin-left: 20px;
  }

  .margin-bottom-promise {
    margin-bottom: 40px;
  }
}

/* @media (min-width: 1350px) {
  .promise-card-real-row {
    display: flex;
    justify-content: center;
  }
} */

@media (max-width: 576px) {
  .free-card {
    width: 95%;
  }

  .special-card,
  .special-col {
    width: auto;
    height: auto;
  }

  .promise-card {
    margin-bottom: 20px;
    /* padding-bottom: 220px; */
  }

  .strategy-card {
    margin: 0;
    width: auto;
    height: auto;
  }

  .fee-advice-card {
    width: auto;
  }

  .height-width {
    margin: 0;
    padding: 0;
  }

  .strategy-section-padding-row {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 992px) {
  .info-bar {
    height: 50px;
  }
/* 
  .height-width-1 {
    margin-right: 10px;
  }

  .height-width-2 {
    margin-left: 10px;
  } */
}

@media (max-width: 767px) {
  .special-text {
    margin: 0;
    padding: 20px;
  }

  .investing-image {
    padding-top: 30px;
  }

  .investing-image img {
    width: 270px;
    height: 270px;
  }

  .investing-text {
    padding-left: 0;
    text-align: center;
  }

  .hero-heading {
    font-size: 40px;
  }

  .padding-left-right {
    padding: 20px;
  }

  #sidebarNav {
    width: 54vw;
  }

  .fee-section-heading-text p {
    width: 80%;
  }

  .height-width {
    width: 400px;
  }

  .strategy-section-padding-row {
    margin: 0;
    padding: 0;
  }

  .height-width-1,
  .height-width-2 {
    padding: 0;
    margin: 0;
  }

  .strategy-section .container-fluid {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 934px) {
  .height-width {
    margin-top: 40px;
  }
}

@media(max-width:1032px) {
  .promise-card {
    margin-top: 30px;
  }
}

@media (max-width: 567px) {
  .hero-heading {
    font-size: 35px;
  }

  #sidebarNav {
    width: 74vw;
  }

  .promise-card {
    min-height: 190px;
    box-sizing: border-box;
    padding:30px;
  }
}

@media (max-width: 399px) {
  .hero-heading {
    font-size: 30px;
  }

  #sidebarNav {
    width: 84vw;
  }
}

@media (max-width: 1199px) and (min-width: 767px) {
  #sidebarNav {
    width: 40vw;
  }
}

@media (max-width: 1199px) {
  .fee-advice-cols {
    width: 80%;
  }

  .fee-advice-cols div img {
    width: 100%;
  }

  .investing-card {
    margin-top: 30px;
  }

  #sidebarNav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;

    background-color: var(--color-brown);
    opacity: 0.9;
    color: var(--color-white);
    transition: 0.5s;
    z-index: 4;
  }

  #sidebarNav .navbar-nav .nav-item a {
    font-size: 1rem;
    color: var(--color-white);
    opacity: 1;
    padding: 10px;
    font-weight: 400;
  }

  .dropdown-menu a:hover {
    color: var(--color-white);
    background-color: transparent;
  }

  .fee-advice-card {
    margin: 20px;
  }
}

.padding-190{
  display: flex;
  justify-content: center;
  gap: 50px;
}

/* @media (min-width: 1360px) {
  .padding-190 {
    padding-left: 180px;
    padding-right: 180px;
  }
} */

@media (min-width: 1199px) {
  .nav-item::after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 85%; */
    height: 2px;
    /* margin-left: 8px; */
    background-color: var(--color-brown);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }

  .nav-item:hover::after {
    /* width: 85%; */
    transform: scaleX(1);
  }

  .dropdown:hover .dropdown-menu {
    display: block;
    margin: 0;
  }

  .col-width {
    width: 45%;
  }

  .col-card-width {
    width: 54%;
  }

  .p-media {
    width: 810px;
    margin-bottom: 0px;
  }

  .margin-start {
    margin-right: 1px;
  }

  .fee-advice-section {
    padding-left: 67px;
  }

  .free-card {
    width: 467px;
    height: 249px;
  }
}

@media (min-width: 768px) {
  .height-width {
    width: 467px;
    box-sizing: border-box;
    height: 234px;
  }

  .investing-image {
    padding-right: 156px;
  }
}

@media(max-width:769px) {
  .investing-image {
    padding-left: 0;
  }

}

.reg-button {
  padding: 14px 75px;
}

@media(max-width:606px){
  .fee-advice-section{
    padding-left:3px;
    padding-right:3px;
  }

  .fee-advice-cols{
    width:100%;
    margin:0;
  }
  .fee-heading{
    font-size:20px;
  }
}

@media(max-width:992px){
  .hero-section{
    padding-left:100px;
    padding-right:100px;
  }
}

@media(max-width:616px){
  .hero-btn{
    padding:14px 14px;
    width:70%;
  }
  .hero-section{
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media(max-width:381px){
  .hero-btn{
    width:100%;
  }
  .hero-section{
    padding-left: 5px;
    padding-right: 5px;
  }
}

@media(max-width:321px){
  .navbar-brand{
    padding-left:0;

  }
}

@media(max-width:389px){
  .fee-advice-card{
    padding:5px;
    padding-top:40px;
  }
}

.free-card-col{
  max-width:467px;
}

@media(max-width:992px){
  .padding-190{
    padding-left:50px;
    padding-right:50px;
  }
}

@media(max-width:629px){
  .padding-190{
    padding-left:2px;
    padding-right:2px;
  }
}

.height-width{
  padding-left:0;
  padding-right:0;
}

@media(max-width:768px){
  .strategy-card{
    margin:30px auto;
  }
}

@media(max-width:1249px){
  .footer-col-3{
    margin-left:0;
  }
}

/* .image-slider-section{
  background-color: var(--color-grey);
} */