@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

/* Information - Section */

.information-section{
  background-color: #906D4E;
  color: #fff;
  padding-right: 67px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
  min-height: 50px;
}

.vertical-ruler{
  width: 0px;
  height: 35px;
  border: 1px solid #E8E8E8;
  opacity: 1;
}

.information{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.information-span{
  cursor: pointer;
}

.information-btn{
  background-color: #00A0D2;
  color:#fff;
  padding: 7px 22.4px;
  /* height: 35px; */
  display:flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: none;
  transition: all 0.3s;
}

.information-btn:hover{
  background-color: #fff;
  color: #00A0D2;
}

@media(max-width:1000px){
  .information-section{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    max-height: 100px;
  }
}

@media(max-width: 894px){
  .information-section{
    display: none;
  }
  .ruler-3{
  visibility: hidden;
  }
  .vertical-ruler{
    height: 25px;
  }
  .information-section{
    padding-top:7px;
  }
}

@media(max-width: 751px){
  .ruler-3{
    display: none;
  }
}

/* Hero Section */

.hero-section{
  background-image: url(../img/hero-page.png);
  background-size: cover;
}

.hero-section .container-fluid{
  background-color: #fff;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  padding: 0;
}

/* Nav - Navigation */

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-right: 67px;
  padding-left: 67px;
}

.nav-ul{
  display:flex;
  gap: 25px;
  align-items: center;
  margin: 0;
}

.nav-li{
  list-style: none;
  letter-spacing: 0;
}

.nav-a{
  letter-spacing: 0;
  text-decoration: none;
  color: #55565A;
  text-transform: uppercase;
  letter-spacing: 0;
  font-size: 14px;
  position: relative;
}

.nav-a::after{
  content:'';
  width:100%;
  height: 0px;
  border: 1.5px solid #906D4F;
  opacity: 1;
  position: absolute;
  bottom:-5.5px;
  left:0;
  transform-origin: left;
  transform: scaleX(0);
  transition: all 0.3s;
}

.size-4{
  width: 16px;
  height: 16px;
}

.size-6{
  display: none;
  height: 24px;
  width: 24px;
}

/* Nav Dropdown */

.nav-dropdown{
  display: none;
}

.nav-dropdown-li{
  list-style: none;
  color:#55565A;
  cursor: pointer;
  font-size: 14px;
}

.nav-li-drop:hover .nav-dropdown{
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 5px;
  position: absolute;
}

.nav-dropdown-li{
  text-transform: uppercase;
}

/*  Side Bar  */

.nav-ul-mobile{
  padding-top:100px;
  display: block;
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  align-items: flex-start;
  flex-direction: column;
  position: absolute;
  width: 80%;
  left:0;
  top:0;
  bottom:0;
  background-color: #906D4E;
  color: #fff;
  padding-left:10px;
  transition: all 0.3s;
}

.nav-ul-mobile .nav-li,
.nav-ul-mobile .nav-a{
  color: #fff;
}

.sidebar-logo{
  display: flex;
  align-items: center;
  gap: 10px;
}

@media(max-width: 1272px){
  .nav-ul{
    display: none;
  }
  .size-6{
    display: block;
  }

  .nav-dropdown-li{
    color:#fff;
    cursor: pointer;
  }
  
  .nav-li-drop:hover .nav-dropdown{
    padding: 0;
    margin: 0;
    padding-top: 5px;
    position: relative;
  }
}

@media(min-width: 1272px){
  .nav-li:hover .nav-a::after{
    transform: scaleX(1);
  }
}

@media(max-width: 542px){
  nav{
    padding-left:10px;
    padding-right: 10px;
  }
}

/* Hero Page */

.hero-page{
  width: 100%;
  padding-top: 139px;
  padding-bottom: 179px;
  padding-left: 0;
  padding-right: 0;
}

.hero-container{
  max-width: 616px;
}

#hero-head{
  max-width: 590px;
  /* margin:0 auto; */
}

.hero-heading{
  display: inline-block;
}

.hero-ruler{
  width: 90%;
  height: 0px;
  border: 2px solid #906D4E;
  opacity: 1;
  margin-top: 0.5px;
  margin-bottom: 25px;
}

.hero-paragraph{
  font-size: 14px;
  letter-spacing: 0;
  color: #55565A;
  margin-bottom: 35px;
  width: 90%;
}

/* Branding-Section */

.branding-section{
  width: 100%;
  padding: 80px 0;
  background-color: #FCFCFC;
}

.image-slider{
  margin-top: 50px;
}

/* Fee Advice Section */

.fee-section{
  background-image: url(../icons/Group\ 47.svg);
  background-position: top left;
  background-repeat: no-repeat;
  padding: 0 67px;
}

.fee-section-col{
  margin-top: 86px;
  max-width: 616px;
  padding:0;
}

.fee-section-col-2-gap{
  margin-top: 80px;
}

.fee-ruler{
  max-width: 616.5px;
  height: 0px;
  border: 2px solid #906D4E;
  margin-bottom: 25.9px;
  opacity: 1;
}

.fee-btn{
  margin-top: 35px;
  width: 100%;
  text-align: center;
}

.fee-link{
  font-size: 14px;
  display: block;
  color: #906D4E;
  margin-top: 9px;
}

.fee-youtube-section{
  max-width: 524px;
}

.fee-section-design-image-1{
  position: relative;
}

.fee-section-design-image-1 img{
  position: absolute;
  top: 58.6px;
  left: 23%;
}

.fee-section-design-image-2{
  position: absolute;
  right:0;
  top: 50%;
  z-index:-1;
}


.fee-heading-paragraph{
  margin-bottom: 34.6px;
}

.fee-heading-para{
  margin-top: 25px;
  max-width: 810px;
}

.fee-section-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
  padding-bottom: 123.9px;
}

.fee-card-icon{
  margin-bottom: 20.04px;
}

.fee-card-heading{
  margin-bottom: 5.5px;
}

.fee-card{
  position: relative;
  transition: all 0.3s;
}

.fee-card:hover::after{
  content: "";
  border-radius: 5px;
  width: 128px;
  height: 4px;
  opacity: 1;
  background-color: #906D4E;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s ;
}

.fee-card-link{
  visibility: hidden;
  font-weight: 500;
  font-size: 14px;
  color: #906D4E;
  text-decoration: none;
  padding-bottom:0;
  border-bottom: 1px solid #906D4E;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
  transition: all 0.3s;
}

.fee-card:hover .fee-card-link{
  visibility: visible;
}

@media(max-width: 1276px){
  .fee-section-cards{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 123.9px;
  }
}

@media(max-width: 1177px){
  .fee-section-cards{
    padding-left: 100px;
  }
}

@media(max-width: 960px){
  .fee-section-cards{
    padding-left:0;
  }
}

@media(max-width: 649px){
  .fee-section{
    padding-left:10px;
    padding-right:10px;
  }
  .fee-youtube-section{
    max-width: 300px;
  }
  .fee-section-img{
    width: 100%;
  }
}

@media(max-width: 400px){
  .fee-section-img{
    width: 100%;
  }
}

/* Free Services Section */

.free-section{
  background-color: #FCFCFC;
  padding: 80px 10px;
}

.free-section-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.free-card-1{
  background-image:url(../icons/Group\ 73.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.free-card-2{
  background-image:url(../icons/free-card-2.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

.free-card-heading{
  margin-top: 19.06px;
  margin-bottom: 0;
}

.free-card-heading,.free-card-paragraph{
  color: #fff ;
  text-align: left;
}

.card-1:hover .free-card-heading,
.card-1:hover .free-card-paragraph{
  color: #906D4E;
}

.card-1{
  margin-top: 60px;
}

/* Promise Section */

.promise-section{
  padding-top: 50px;
  padding-bottom: 70px;
  
}

.promise-section-cards{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  row-gap: 40px;
  column-gap: 40px;
}

.promise-card-heading{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10.1px;
}

@media(max-width: 600px){
  .card-2{
    min-height: 190px;
  }
}

@media(max-width: 1068px){
  .promise-section-cards{
    display: grid;
    grid-template-columns: auto ;
  }
}

@media(max-width: 533px){
  .promise-section{
    padding-left:10px;
    padding-right:10px;
  }
}

/* Strategy Section */

.strategy-section{
  padding-top: 50px;
  padding-bottom: 60px;
  background-color: #FFFCF9;
}

.strategy-paragraph{
  padding-top: 25px;
}

.strategy-paragraph,.strategy-paragraph-2{
  max-width: 1100px;
}

.strategy-paragraph-2{
  margin-bottom: 35px;
}

.strategy-button{
  padding: 11.2px 60.29px;
}

@media(max-width:380px){
  .strategy-button{
    width: 90%;
    padding: 14px 10px;
  }
}

.strategy-card{
  padding-top: 39.85px;
  padding-bottom: 39.99px;
  padding-left: 35px;
  padding-right: 40px;
}

.strategy-card-1{
  margin-top: 50px;
  background-image: url(../icons/Group\ 82.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.strategy-card-heading{
  color:#fff;
  text-align: left; 
  margin-top: 25px;
  margin-bottom: 0;
}

.strategy-card-paragraph{
  color:#fff;
}

.strategy-card:hover .strategy-card-paragraph,
.strategy-card:hover .strategy-card-heading{
  color:#906D4E;
}

.strategy-card-2{
  margin-top: 50px;
  background-image: url(../icons/strategy-section-2.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.strategy-card-3{
  margin-top: 60px;
  background-image: url(../icons/strategy-section-3.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}
.strategy-card-4{
  margin-top: 60px;
  background-image: url(../icons/strategy-section-4.svg);
  background-position: bottom right;
  background-repeat: no-repeat;
}

.strategy-col{
  padding-left: 35px;
  padding-right: 35px;
}

.strategy-button-2{
  padding: 11.2px 48.86px;
  background-color: transparent;
  color: #906D4E;
  border: 1px solid #906D4E;
  transition: all 0.3s;
}

.strategy-button-2:hover{
  background-color: #906D4E;
  color: #fff;
}

@media(max-width: 380px){
  .strategy-button-2{
    width: 90%;
    padding: 14px 0;
  }
}

.strategy-section{
  background-image: url(../icons/Group\ 70.png);
  background-repeat: no-repeat;
  background-position: bottom left;
}

.strategy-section-text{
  background-image: url(../icons/Group\ 72.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
}

@media(max-width: 1119px){
  .strategy-section-text{
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media(max-width: 500px){
  .strategy-col{
  padding-left: 10px;
  padding-right: 10px;}
}

@media(max-width: 992px){
  .strategy-card-3,.strategy-card-4{
    margin-top: 50px;
  }
}

@media(max-width: 700px){
  .strategy-section{
    background-image: none;
  }
}

/* Investing Section */

.investing-section{
  padding-top: 70px;
  padding-bottom: 50px;
  padding-left: 67px;
  padding-right: 67px;
}

.investing-card-row{
  padding:0 65px;
}

.investing-button{
  height: 45px; 
}

.investing-col-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 36.66px;
}

.investing-heading{
  margin-top: 80.1px;
  margin-bottom: 0;
}

.investing-button-end{
  padding: 11.2px 73px;
  box-sizing: border-box;
  background-color: transparent;
  color: #906D4E;
  border: 1px solid #906D4E;
  margin-top: 35px;
  transition: all 0.3s;
}

.investing-button-end:hover{
  background-color:#906D4E;
  color: #fff;
}

@media(min-width: 1500px){
  .investing-card-row{
    padding:0 150px;
  }
}

@media(max-width: 1071px){
  .investing-card-row{
    padding:0 20px;
  }
}

@media(min-width: 800px){
  .investing-button{
    margin-left: 90px;
  }
}

@media(max-width:700px){
  .investing-section{
    padding-left: 10px;
    padding-right: 10px;
  }
  .investing-image{
    max-width: 400px;
  }
}

@media(max-width: 400px){
  .investing-image{
    width: 250px;
  }
  .investing-button{
    width: 90%;
  }
}

@media(max-width: 992px){
  .investing-paragraph{
    width: 100%;
    text-align: center;
  }
}

@media(max-width:1147px){
  .investing-col-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .investing-button{
    margin-left: 0;
  }
}

/* Specialist Section */

.specialist-section{
  background-color: #FCFCFC;
  padding-top: 60px;
  padding-bottom: 70px;
}

.specialist-heading{
  max-width: 810px;
}

.specialist-paragraph{
  max-width: 1086px;
  letter-spacing: 0;
  font-size: 14px;
}

.specialist-cards{
  margin-bottom: 100px;
}

.specialist-card-1{
  background-image: url(../icons/Group\ 698.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 50.5px;
}

.specialist-card-2{
  background-image: url(../icons/Group\ 699.svg) ;
  background-repeat: no-repeat;
  background-position: bottom right;
  margin-top: 50.5px;
}

@media(max-width: 501px){
  .specialist-card-1{
    height: auto;
  }
  .specialist-card-2{
    height: auto;
  }
}

@media(max-width: 826px){
  .specialist-section{
    padding-left: 10px;
    padding-right: 10px;
  }
}

/* News Card */

.news-card{
  display: flex;
  justify-content: flex-start;
  gap: 19px;
  background-color: #fff;
  margin-top: 49.98px;
}



.news-header{
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  background-color:#906D4E;
  width: 108px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.header-heading{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.news-heading{
  margin: 0;
letter-spacing: 0;
height: 44px;
max-width: 431px;
}

.news-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 6px; */
}

.news-paragraph{
  max-width: 434px;
  margin: 0;
  font-size: 14px;
  letter-spacing: 0;
}

.news-button{
  padding:11.2px 0;
  width: 245px;
  background-color: transparent;
  border: 1px solid #906D4E;
  color: #906D4E;
  border-radius: 23px;
  transition: all 0.3s;
}

.news-button:hover{
  color: #fff;
  background-color: #906D4E;
}

@media(min-width: 992px){
  .news-card-odd{
    padding-right: 17.5px;
   
  }
  .news-card-even{
    padding-left: 17.5px;
    
  }
}

@media(max-width: 500px){
  .news-card{
    height: 330px;
    display: flex;
    flex-direction: column;
  }
  .news-header{
    width:100%;
    display: flex;
    flex-direction: row;
  }
  .header-heading span{
    font-size: 20px;
  }
  .header-heading{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .news-text{
    padding: 3px 8px;
  }
  .news-heading{
    margin-bottom:14px;
  }
}

/* Seminars Section */

.seminar-card{
  margin-top: 35px;
}

.seminar-card-head{
  height: 25px;
  color:#D2D2D2;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 33.68px;
  border-bottom: 1px solid #DEDEDE;
  padding-left: 25px;

}

.text-container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.seminar-card-body{
  height: 89px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25px;

}

.seminar-card-footer{
  height: 45px;
  background-color: #906D4E;
  border-radius: 0px 0px 8px 8px;
  display: flex;
  align-items: center;
  gap: 33.53px;
  padding-left: 25px;

}

.seminar-cards .row{
  display: flex;
  justify-content: center;
  gap: 36.97px;
}

.seminar-col{
  max-width: 280.03px;
  padding-left:0;
  padding-left:0;
}

.seminar-button{
  width: 245.02px;
  padding: 11.2px 0;
  color:#906D4E;
  background-color: transparent;
  border: 1px solid #906D4E;
  transition: all 0.3s;
}

.seminar-button:hover{
  color: #fff;
  background-color: #906D4E;
}

.image-section-last{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 272px;
  flex-wrap: wrap;
}

@media(max-width: 683px){
  .image-section-last{
    gap: 100px;
  }
}

/* LAst Section */

.last-section{
  background-color: #906D4F;
  padding-top: 50px;
  padding-left: 67px;
  padding-right: 120px;
  padding-bottom: 15.74px;
}

.p-foot{
  font-size: 14px;
  color:#fff;
}

.contact-links a{
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.logo-box{
  display: flex;
  gap: 25.1px;
}

.foot-col{
  margin-bottom: 30.79px;
}

.foot-col-1{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.list-1 ul,.list-2 ul{
  padding:0;
  margin-bottom: 0;
}

.foot-list{
  list-style: none;
  padding: 0;
  margin: 0;
}

.foot-anchor{
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 0;
  margin: 0;
  display: block;
  line-height: 18.5px;
  transition: all 0.3s;
}

.foot-anchor:hover{
  color:#00A0D2;
}

.foot-col-2{
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.foot-input{
  width: 392px;
height: 45px;
border: 1px solid #FFFFFF;
border-radius: 25px;
opacity: 1;
background-color: transparent;
background-image: url(../icons/Icon\ ionic-ios-send.svg);
background-repeat: no-repeat;
background-position: center right 29.98px;
padding-left:30px;
color: #fff;
}


.foot-input::placeholder{
  /* text-indent: 30px; */
  color: #fff;
  font-size: 14px;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

.foot-input:focus{
  background-color: transparent;
  outline: none;
}

.label-foot{
  font-size: 9px;
  color: #fff;
  max-width: 371px;
}

.foot-btn{
  width: 392px;
  padding: 11.2px 0;
  background-color: #00A0D2;
  color:#fff;
  transition: all 0.3s;
}

.foot-btn:hover{
  background-color: #fff;
  color:#00A0D2;
}

@media(max-width: 1350px){
  .last-section{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media(max-width: 564px){
  .foot-btn{
    width:90%;
  }
  .foot-input{
    width: 90%;
  }
}

.foot-foot{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap:50px;
}

.foot-foot a{
  text-decoration: none;
  color:#D2D2D2;
  font-size: 13px;
}

footer{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:4.74px;
}

@media(max-width:500px){
  .foot-foot{
    gap:10px;
  }
}

@media(max-width: 500px){
  .last-section{
    padding: 20px 10px;
  }
  .foot-input{
    width: 99%;
  }
  .foot-col-3{
    padding: 0;
  }
}

/* Image Slider */

.swiper{
  height: 25px;
  position: relative;
  margin-top: 50px;
}

.swiper-wrapper{
  display: flex;
  justify-content: flex-start;
  width: 87.900vw;
  gap: 69px;
  margin: 0 auto;
  overflow: hidden;
}

.custom-button-next,.custom-button-prev{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

.swiper-slide{
  display: flex;
  justify-content: center;
}

.swiper-slide img{
  margin:0 auto;
}

.custom-button-prev{
  right: 4.905vw;
}

.custom-button-next{
  left: 4.905vw;
}

.logo-box svg{
  cursor: pointer;
}

@media (max-width: 320px){
  .swiper-wrapper{
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
  }
  .swiper-slide{
    width: 300px;
    height: 25px;
  }
  .swiper-slide img{
    width: 300px;
    height: 25px;
    object-fit: contain;
  }
}

@media(max-width: 425px){
  .swiper-wrapper{
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
  }

  .swiper-slide img{
    width: 340px;
    object-fit: contain;
  }
}

@media(max-width: 716px){
  .swiper-wrapper{
    width: 300px;
    height: 25px;
    display: flex;
    justify-content: flex-start;
  }

  .swiper-slide img{
    width: 340px;
    object-fit: contain;
  }
}

/* Fixes : */

